* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    
}

body {
    cursor: none;
}



main {
    width: 100%;
    height: 100%;
    background-color: black;
}

#cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    pointer-events: none; /* mouse events ignore kare */
    transform: translate(-50%, -50%); /* center cursor */
}

